body            { font-family: sans-serif; background: #eee; }
.playing        { color: #00f; }
.games          { float: left; }
.scores         { float: left; }
.tricks         { clear:both; float: left; }
input           { text-align: right; width: 50px;}
.score          { text-align: right; }
.name           { cursor: pointer; }
